<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <link rel="stylesheet" href="../../static/assets/styles/main.css">
</head>
<body>
<!-- As a link -->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
  </div>
</nav>

<!-- As a heading -->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Navbar</span>
  </div>
    <table>
        <tr>
          <th>Tittle</th>
          <th>Author</th>
          <th>Price</th>
          <th>Description</th>
        </tr>
        <tr>
            <td>Fathers Of Nation</td>
            <td>Paul B.Vita</td>
            <td>ksh.500</td>
            <td>Talks about politics and how different leaders went to a summit to approve between two different paths to follow "Way Omega and Path Alpha"</td>

        </tr>
         <tr>
             <td>Parliament Of Owls</td>
             <td>Adipo Sidang</td>
             <td>ksh.450</td>
             <td>this is a story where different leaders use there power in a bad way </td>
         </tr>
        <tr>
            <td>The Samaritan</td>
            <td>John Lara</td>
            <td>ksh500</td>
            <td>The clever one</td>
        </tr>
        <tr>
            <td>The Floating World</td>
            <td>Kazuo Ishiguro</td>
            <td>ksh400</td>
            <td>explains the world war 2 of japan and theme of memory</td>
        </tr>
    </table>
</nav>
</body>
</html>